.num-plus
{
    color:red;
    text-align:right;
    background-color:white;
}
.num-minus
{
    color:blue;
    text-align:right;
    background-color:white;
}
.num-zero
{
    color:black;
    text-align:right;
    background-color:white;
}