.num-plus
{
    color:red;
    text-align:right;
    background-color:white;
}
.num-minus
{
    color:blue;
    text-align:right;
    background-color:white;
}
.num-zero
{
    color:black;
    text-align:right;
    background-color:white;
}
.font-left-14
{
    text-align:left;
    font-size:14px;
    background-color:white;
}
.font-right-14
{
    text-align:right;
    font-size:14px;
    background-color:white;
}